
.overview-container{
    background-color: #c9c9c9;
}
.overview-div{
    max-width: 1300px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
    /* justify-content: space-around; */
    /* width: fit-content; */
    margin: auto;
}
.overview-div img{
    height: 30px;
    margin :  5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview-div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    /* margin: 10px; */
    /* font-size: small; */
    /* border-radius: 50%;
    background-color: cyan; */
}

.carousel{
    max-width:  1300px;
    margin: auto;
    margin-top: 10px;
}
.carousel-cell > div img{
    height: 180px;
    width: 255px;
}
.carousel-cell a{
  color: black;
}
.carousel-cell {
    /* width: 200px; */
    /* height: 200px; */
    margin-right: 5px;
    border-radius: 5px;
    counter-increment: carousel-cell;
    font-weight: 600;
    text-align: center;
  }
  .carousel-cell p{
    z-index: 1000;
  }
  .flickity-button {
    scale: 0.8;
    margin-top: -10px;
    }
  .products-heading{
    max-width: 1300px;
    margin: 15px auto;
    font-weight: 600;
    /* text-align: center; */
    font-size: x-large;
  }
  .most-popular img{
    margin-bottom: 10px;
  }
  /* testimonials css */
  .testimonials-container{
    /* height: 200px; */
    width: 100%;
    padding: 5px;
    background-image: url("../images/carousel/slider_background.jpg");
    /* background-image: url("../images/texture.webp"); */
  }
  .testimonial-div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    height: 100%;
    display: grid !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* width: 250px !important; */
    height: 300px;
    width: 300px;
  }
  .testimonial-heading{
    text-align: center;
    margin: 20px;
  }
  /* .testimonial-heading > h2{
    text-transform: uppercase;
  } */
  .testimonial-div p{
    /* text-align: justify; */
    font-size: 0.85rem;
    color: #999;
  }
  .review-bottum{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    text-align: end;
  }
  .t-icon{
    color: #d93800;
    font-size: 35px;
  }
  .review-div{
    margin: auto;
    max-width: 1300px;
  }
  /* larg formate section */
  .larg-formate-container{
    max-width: 1300px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
  }
  .larg-formate-container > div{
    /* padding: 10px; */
    padding-bottom: 10px;
    border-bottom: #c9c9c9 solid 1px;
  }
  .larg-formate-container > div:hover{
    border-bottom: black solid 1px;
  }

  .larg-formate-container a {
    color: #d93800;
    /* align-content: end; */
  }
  .larg-formate-container img{
    width: 100%;
    margin-bottom: 10px;
  }
/* companies logos */

  .marquee {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #000; */
    height: 100px;
    /* max-width: 1300px; */
    margin: auto;
    /* border-radius: 22px; */
    /* box-shadow: 4px 4px 0 #000; */
    overflow: hidden;
    /* background: white; */
    white-space: nowrap;
  }
  
  .marquee--inner {
    display: block;
    width: 200%;
    /* max-width: 1300px; */
    position: absolute;
    margin: auto;
    animation: marquee 10s linear infinite;
    
  }
  .marquee--inner:hover {
      animation-play-state: paused;
    }
  .marquee  span {
    float: left;
    width: 48%;
    margin-left: 10px;
    /* overflow: hidden; */
  }
  .marquee-logos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    align-items: center;
  }
  .marquee-logos img{
    height: 30px;
    width: 100%;
  }
  @keyframes marquee {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  
.companies{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  max-width: 1300px;
  align-items: center;
}
.companies img{
  /* width: 80%; */
  height: 30px;
  width: fit-content;
  margin: auto;
}
.companies > div{
  width: fit-content;
  margin: auto;
}
.companies-div{
  /* display: block; */
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.companies-container{
  background-color: #F3F3F3;
  width: 100%;
  /* margin-top: 30px; */
  padding: 20px;
  text-align: center;

}
.canvas-section img{
  margin: 10px auto;
  width: 100%;
}
/* order process */
.order-process-container{
  margin-top: 20px;
  background-color: #c9c9c9;
  padding: 20px 0px;
}
.order-process{
  font-size: small;
  display: grid;
  margin-top: 10px;
  max-width: 1300px;
  margin: auto;
  grid-template-columns: repeat(6,1fr);
  /* align-items: center; */
  gap: 20px;
  /* grid-template-columns: repeat(4, 1fr); */
}
.order-process > div{
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  text-align: center;
}
.order-process p{
  width: 100%;
  /* text-align: justify; */
}
.order-process img{
  height: 50px;
}
.order-process i{
  font-size: 30px;
  border: 3px solid #58595B;
  padding: 20px;
  margin: 10px;
  /* color: #58595B; */
  border-radius: 50%;
}

/* ============ mobile view ============ */
@media (min-width:200px) and (max-width: 769px) {
  .heading-padding{
    margin-left: 10px !important;
  }
	.overview-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 10px ;
        width: fit-content;
        margin: auto;
        gap: 10px;
        font-size: smaller;
    }
    .overview-div > div{
        display: flex;
        width: fit-content;
        margin: 0 10px
    }
    .overview-div img{
        height: 20px;
        margin : 10px;
    }
    .flickity-button {
        scale: 0.6;
        margin-top: -30px;
    }
    .carousel-cell > div img{
        width: 165px;
        height: 130px;
    }
    .carousel {
        margin: 20px;
    }
    .products-heading{
        max-width: 1300px;
        margin: 5px 10px ;
        /* margin-top: 50px; */
        /* text-align: center; */
        font-size: large;
    }
      /* .testimonial-div {
        height: 320px;
        width: 300px;
      } */
      .larg-formate-container{
        max-width: 1300px;
        margin: auto;
        font-size: small;
        display: grid;
        padding: 10px;
        gap: 20px;
        grid-template-columns: repeat(2,1fr);
      }
      .larg-formate-container  h5{
        font-size: medium;
      }
      .companies{
        grid-template-columns: repeat(2, 1fr);
      }
      .companies img{
        /* width: 80%; */
        height: 20px;

      }
      .companies-container > h1{
        font-size: x-large;
      }
      .order-process{
        font-size: x-small;
        display: grid;
        margin-top: 10px;
        max-width: 1300px;
        /* margin: auto; */
        grid-template-columns: repeat(3,1fr);
        /* align-items: center; */
        gap: 10px;
        /* grid-template-columns: repeat(4, 1fr); */
      }
      .order-process-container{
        margin-top: 20px;
        padding: 20px ;
      }
      .h2-heading{
        font-size: x-large;

      }
      .order-process i{
        font-size: 20px;
      }
      .order-process img{
        height: 30px;
      }
      
}
/* tablet view */
@media (min-width: 770px) and (max-width: 1350px){ 
  .heading-padding{
    margin-left: 30px !important;
  }
  .carousel {
    margin: 30px;
    }
    .flickity-button {
        scale: 0.6;
        margin-top: -20px;
    }
    
    .overview-div{
        padding: 10px ;
        font-size: smaller;
    }
    .overview-div img{
        height: 25px;
        margin : 10px;
    }
    .products-heading{
        max-width: 1300px;
        margin: 10px;
        /* text-align: center; */
        font-size: large;
      }
      /* .testimonial-div {
        height: 320px;
        margin-left: 50px;
    } */
    .companies img{
      /* width: 80%; */
      height: 25px;

    }
    .companies-container > h1{
      font-size: x-large;
    }
    .order-process-container{
      margin-top: 20px;
      padding: 20px ;
    }
    .h2-heading{
      font-size: large;
    }
    .order-process i{
      font-size: 20px;
    }
} 
  