*{
    padding: 0;
    margin: 0;
    @font-face {
        font-family: 'Proxima Nova';
        src: url("../Demo_Fonts") format('woff2');
       }
    /* box-sizing: border-box; */
    /* outline: 1px solid limegreen !important; */
}
.logo{
    height: 40px;
    margin: 5px 0px;
}
.contact-container{
    position: sticky;
    width: 100%;
    z-index: 5;
    top: 0;
    background-color: white;
}
.navbar-container{
    background-color: #F3F3F3;
}
.navbar{
    max-width: 1300px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    /* color: white; */
    /* gap: 20px; */
    width: 100%;
    margin: auto;
    padding: 0;
}
.container-fluid {
    display: flex;
    width: 100%;
    padding: 0px;
}

.navbar a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    /* font-weight: 600; */
}
.dropdown-item{
    color: black;
}
.submenu {
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.submenu-info{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.container{
    width: 100%;
}
.subment-item{
    color: black;
}
.nav-link{
    padding: 15px;
    height: 100%;
    /* margin-right: 25px; */
}
.main_nav{
    color: white;
}
.dropdown-align{
    margin-left: -700px;
}

.dropdown-class{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dropdown-class > h5{
    color: #d93800;
    border-bottom: dotted rgb(189, 189, 189) 1px;
}
.dropdown-class > a{
    color: grey;
    /* padding-bottom: 8px; */
    margin-left: 10px;
    /* border-bottom: dotted rgb(189, 189, 189) 1px; */
    font-size: 14px;
}
.dropdown-class > h5:hover{
    border-bottom: #d93800 solid 1px;
    cursor: pointer;
}
.dropdown-class > a:hover{
    color: #d93800;
    transition: 0.5s;
}

.navbar .nav-item:hover .nav-link{
    background-color: #d93800;
    color: white;
    margin-left: 0px;
}
.nav-contact{
    max-width: 1300px;
    margin: auto;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    
}
.nav-opt-heading{
    
    margin-left: 0px !important;
    color: #d93800 !important;
    margin-bottom: 0;
    font-weight: 600 !important;
    /* border-top: dotted rgb(189, 189, 189) 2px;  */
    /* margin-top: 5px; */
    /* padding-top: 5px; */

}
.nav-opt{
    width: 100%;
    display:flex ;
}
.nav-sub-heading{
    margin-left: 0px !important;
    color: black !important;
    margin-bottom: 0;
    font-weight: 600 !important;
    /* margin-top: 5px; */
    /* padding-top: 5px; */

}
.nav-sub-heading:hover{
    color: #d93800 !important;
}

.contact-div{
    display: flex;
    color: #333;
}
.contact-div > a{
    color: #333;
}
.search-input{
    border-radius: 5px;
    padding: 5px;
    color: #B7B7B7;
    /* border: 1px solid #B7B7B7; */
}
.contact-info{
    margin: 10px;
}
.whatsapp-icon{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
    /* margin-right: 20px; */
    color: #333;
    text-decoration: none;
}
.button {
font-size: larger;
display: flex;
justify-content: center;
text-align: center;
color: black;
height: 35px;
margin: auto;
padding: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
/* border: 1px solid #B7B7B7; */
text-decoration: none;
cursor: pointer;
}

.button:hover {
transition-duration: 0.4s;
background-color: white;
color: black;
}

.search-container {
position: relative;
display: inline-block;
margin:  5px;
height: 35px;
width: 35px;
margin-left: 30px;
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mglass {
/* display: inline-block; */
font-size: large;
margin-top: -20px;
pointer-events: none;
}
.search:focus + .searchbutton {
transition-duration: 0.4s;
background-color: white;
color: black;
}

.search {
position: absolute;
left: 49px; 
background-color: white;
outline: none;
/* border-radius: 10px; */
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border: 1px solid #B7B7B7;
padding: 0;
color: #B7B7B7;
width: 0px;
height: 100%;
z-index: 10;
transition-duration: 0.4s;
/* padding:  10px; */
}
.search:focus {
width: 220px; 
padding: 0 16px 0 0;
}
.expandright {
left: auto;
right: 40px; 
}
.expandright:focus {
padding: 0 0 0 10px;
}
.navbar-img{
    height: 200px;
    transition: 0.5s;
}
.navbar-img-text{
    text-align: center;
    margin: 10px;
}
.dropdown-menu{
    margin-top: -1px;
}
.navbar-toggler-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-img-container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width:fit-content ;
    margin: auto;
    border-radius: 5px;
}
/* searchbar css */

.search-bar{
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    border-radius: 5px;
    align-items: center;
}
.search-bar > input{
    padding: 5px;
}
.search-bar > button{
    padding: 6px;
    margin-left: -1px;
    border: 1px solid black;
}
/* search bar over */

/* popular products */
.nav-products{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 5px;
}
.nav-products > div, .nav-products > a{
    text-align: center;
    font-weight: 600;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    /* height: fit-content; */
    padding: 0px;
}
.nav-products p{
    margin: 0;
    padding: 5px 0px;
}
.nav-products img{
    width:98%;
    border-radius: 5px;
}
.home-link:hover{
    background-color:#d93800;
    color: white ;
    /* padding: 15px; */
    /* height: 100%; */
}

/* /popular products css over/ */
.search-result{
    z-index: 1000;
    background-color: white;
    position: absolute;
    top: 0vh;
    max-height: 300px;
    width: 370px;
    right: 3vh;
    overflow-y: scroll;
    border-radius: 5px;
    opacity: 0.9;
    visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* canvas section */
.canvas-section{
    max-width: 1300px;
    margin: auto;
    margin-top: 20px;
}
.canvas-section > img{
    width: 100%;
}
.breadcrumb-container{
    background-color: transparent;
}
.breadcrumb{
    border-radius: 0px;
    max-width: 1300px;
    margin: auto;
    
}
.mobile-view{
    display: none !important;
}
.navbar-option-product{
    display: grid;
    width: 100%;
    margin: 10px auto;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
}

.navbar-option-product > div , .navbar-option-product > a{
    text-align: center;
    font-weight: 600;
    width: fit-content;
    font-size: smaller;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    border-radius: 5px;
    /* height: fit-content; */
    padding: 0px;
}
.navbar-option-product p{
    margin: 0;
    padding: 5px 0px;
    font-size: smaller;
}
.navbar-option-product img{
    width:80%;
    height: 80%;
    /* width: 70px; */
    border-radius: 50%;
}
/* ============ mobile view ============ */
@media (min-width:200px) and (max-width: 769px) {
    .mobile-view{
        display: inline !important;

    }
    .desktop-view{
        display: none;
        /* visibility: hidden;
        height: 0px;*/
        width: 0px; 
    }
    .contact-container{
        position: relative;
        width: 100%;
        z-index: 5;
        top: 0;
        background-color: white;
    }
    .container-fluid {
        display: flex;
        /* justify-content: space-around; */
    }
	.navbar .nav-item .dropdown-menu{ 
        /* display: none; */
        margin-top: 0;
        padding: 5px;
     }
	.navbar .nav-item:hover .nav-link{
         background-color: #d93800;
         color: white;
         margin: 0;
         padding: 5px;
        }
	.navbar .nav-item:hover 
    /* .dropdown-menu{ display: block; } */
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .home-btn a:hover{
        background-color:transparent;
        color: white !important;
        margin: 0;
        padding: 0px;
    }
    .navbar a:hover{
        color: white !important;
    }

    .logo{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 10px; */
    }
    .search-input{ 
        display: flex;
        width: fit-content;
        height: 40px;
        width: 90%;
        font-size: small;
    }
    .search-container {
        height: 35px;
    }
    .navbar a {
        text-decoration: none;
        font-weight: 400;
    }
    .dropdown-class > h5 {
        color: #d93800;
        font-size: small;
        border-bottom: dotted rgb(189, 189, 189) 1px;
    }
    .navbar{
        line-height: normal;
    }
    .submenu {
        color: black;
        padding: 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .submenu-info{
        display: flex;
        justify-content: space-between;
        gap: 0px;
        flex-direction: column;
    }
    .submenu{
        flex-direction: column-reverse;
    }
    .home-bar{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: small;
    }
    .home-bar img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    .contact-info{
        margin: 0px;
    }
    
    .contact-div{
        display: flex;
        flex-direction: column;
        font-size: smaller;
    }

    .nav-contact {
        margin: auto;
        width: 100%;
        padding:  10px;
        justify-content: space-between;
    }
    .submenu {
        color: black;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .nav-item{
        border-bottom: #B7B7B7 solid 1px;
        width: 95%;
        margin-left: 10px;
        /* margin: 10px; */
    }
    .navbar-img{
        height: 150px;
    }
    
    .navbar-nav {
        width: 90%;
        margin: auto;
    }
    .dropdown-class {
        width: 100%;
    }
    .whatsapp-icon{
        visibility: hidden;
        margin: 0px;
        padding: 0px;
        width: 0px;
        height: 0px;
    }
    .nav-opt{
        display:flex ;
        flex-direction: column-reverse;
    }
    .nav-img-container{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }
    .dropdown-align{
        margin-left: 0px;
    }
    .nav-products{
        gap: 3px;
        grid-template-columns: repeat(3,1fr);
    }
    .search-result{
        z-index: 1000;
        background-color: white;
        position: absolute;
        top: 15vh;
        max-height: 300px;
        width: 95%;
        left: 10px;
        overflow-y: scroll;
        border-radius: 5px;
        opacity: 0.9;
        visibility: hidden;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .nav-sub-heading{
        margin-left: 0px !important;
        color: black !important;
        margin-bottom: 0;
        font-weight: 600 !important;
        border-top: dotted rgb(189, 189, 189) 2px;
        margin-top: 5px;
        padding-top: 5px;
    
    }

}

/* tablet view */
@media (min-width: 770px) and (max-width: 1350px){ 
    .navbar .nav-item .dropdown-menu{ 
        /* display: none; */
        /* padding: 0px; */
        color: black;
     }
     .dropdown-class > a{
        /* color: black; */
        border-bottom: dotted rgb(189, 189, 189) 1px;
        font-size: medium;
    }
    .navbar a {
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
    }

	/* .navbar .nav-item:hover .nav-link{
         background-color: #d93800;
         color: white;
         width: 100%;
    } */
	/* .navbar .nav-item:hover  */
    /* .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .home-btn:hover{
        background-color:transparent;
        margin: 0;
        padding: 0px;
    } */
    .logo{
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

    }
    .dropdown-class > h5 {
        color: #d93800; 
        border-bottom: dotted rgb(189, 189, 189) 1px;
        font-size: small;
    }
    .nav-link{
        padding: 10px;
        height: 100%;
    }
    .contact-info{
        margin: 10px;
        font-size: small;
    }
    .navbar-img{
        height: 150px;
    }
    .submenu {
        color: black;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    .nav-contact {
        /* max-width: 1050px; */
        margin: auto;
        display: flex;
        padding: 10px;
        justify-content: space-between;
    }
    .button {
        height: 30px;
    }
    .search-container {
        height: 30px;
    }
    .dropdown-align{
        margin-left: -550px;
    }
    .navbar-nav {
        width: fit-content;
        margin: auto;
        width: 90%;
    }
    .nav-products{
        display: grid;
        grid-template-columns: repeat(3,80px);
        gap: 3px;
    }
    .submenu-info{
        gap: 20px;
    }
} 
  /* search */
  